.home-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avatar{
    margin-bottom: 3rem;
    background-color: #fc7e2a;
    width: 9rem;
    height: 9rem;
    border-radius: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile{
    color: #464545;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    
    /* font-size: 1rem; */
}

.profile-name{
    color: #333333;
    align-self: center;
    font-size: 1.7rem;
    font-weight: 600;
}
.profile-title{
    align-self: center;
    font-size: 0.95rem;
}
.profile-desc{
    align-self: center;
    width: 85%;
    /* margin: auto; */
    font-size: 1rem;
    text-align: center;
}
.profile-work{
    margin: 2rem 0 2rem 0;
    align-self: center;
    font-size: 1rem;
}
.profile-handle{
    align-self: center;
}
.profile-handle svg{
    font-size: 1.4rem;
    margin: 1px 6px 0 0;
}
.margin{
    margin-bottom: 1rem;
}